* {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 5.5rem;
    background-color: #A5A6F6;
    display: flex;
}
.navH {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-flow: wrap;
    flex-direction: row;
    align-items: center;
    margin-right: 10.3125rem;
}
ul {
    width: 30.25rem;
    display: flex;
    justify-content: space-between;
    margin-left: 10.3125rem;
}
li {
    list-style-type: none;
    display: inline;
}
a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color:#FFFFFF;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color:#373F41;
    font-size: 2.75rem;
    font-weight: 700;
}
h2 {
    font-family: 'Roboto', sans-serif;
    color:#373F41;
    font-size: 1.5rem;
    font-weight: bold;
}
h3 {
    font-family: 'Roboto', sans-serif;
    color:#373F41;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 700;
}
p {
    font-family: 'Roboto', sans-serif;
    color:#373F41;
    font-size: 1rem;
}
footer {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    height: 8.5rem;
    background-color: #373F41;
    margin-top: 8rem;
}

.ulH {
    flex-flow: wrap;
    flex-direction: row;
    align-items: center;
}

.sectionIntro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10.3125rem;
    margin-right: 10.3125rem;
    margin-top: 6.5625rem;
}
.presentInfo {
    width: 27.8125rem;
    margin-top: 3.6875rem;
}
.presentInfo p {
    margin-top: 2.5rem;
    margin-bottom: 2.125rem;
}
.buttonContact {
    background-color: #A5A6F6;
    text-align: center;
    width: 8.6875rem;
    height: 3rem;
    border-style: none;
    color: #FFFFFF;
}
.imgInfo {
    width: 35.625rem;
    height: 22.5rem;
}

.sectionServices {
    display: flex;
    flex-flow: wrap-reverse;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 10.3125rem;
    margin-right: 10.3125rem;
    margin-top: 6.5rem;
}
.serviceCard {
    display: flex;
    width: 22rem;
    height: 17.625rem;
    background-color: #E9F5EE;
    justify-content: center;
    align-items: center;
}
.textSize {
    width: 15.8125rem;
    height: 8.5rem;
}
.serviceCard h3 {
    text-align: center;
    margin-bottom: 0.75rem;
}
.serviceCard p {
    text-align: center;
    justify-content: center;
}

.parService {
    width: 22rem;
    height: 8.3125rem;
    margin-top: 0.8125rem;
}
.buttonService {
    background-color: #A5A6F6;
    text-align: center;
    width: 8.6875rem;
    height: 3rem;
    border-style: none;
    color: #FFFFFF;
}
.cardBlock {
    display: flex;
    height: 36.75rem;
    justify-content: space-between;
    flex-direction: column;
}
.cardBlock1 {
    display: flex;
    height: 36.75rem;
    justify-content: center;
    flex-direction: column;   
}

.imgAboutMe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.sectionPortfolio {
    margin-left: 10.3125rem;
    margin-right: 10.3125rem;
}
.portfolioInfo {
    width: 42.8125rem;
    margin-top: 5.625rem;
    margin-bottom: 3.75rem;
}
.imgPortfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}
.buttonPortfolio {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
}

.contactForm {
    height: 27.5rem;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    flex-direction: column;
}
.textForm {
    width: 40rem;
    height: 3rem;
    background-color: #CBCCFF;
    border-style: none;
}
.msgForm {
    width: 40rem;
    height: 12.25rem;
    background-color: #CBCCFF;
    border-style: none;
}

.ulF {
    flex-flow: wrap;
    flex-direction: row;
    margin-top: 2rem;
}
.aF{
    color: #FFFFFF;
}
.pF {
    text-align: center;
    padding-top: 32px;
    color: #FFFFFF;
}

.textIndex {
    width: 445px;
    height: 110px;
    margin-top: 40px;
    margin-left: 165px;
}

.parAboutMe {
    width: 352px;
    height: 133px;
    margin-left: 166px;
    margin-top: 13px;
}
.buttonAboutMe {
    display: block;
    background-color: #A5A6F6;
    text-align: center;
    width: 139px;
    height: 48px;
    margin-top: 17px;
    margin-left: 163px;
}

.servInfo {
    width: 63.375rem;
    margin-top: 5.625rem;
    margin-bottom: 3.75rem;
}
.cardBlock2 {
    display: flex;
    justify-content: center;
    flex-direction: column;   
}